<template>
    <v-container fluid grid-list data-app>
        <v-layout wrap>
            <v-flex xs4>
                <img src="/images/logo-light.svg" style="height: 30px;margin-bottom: 10px;">
                <CartComponent @totalCount='onTotalCount'></CartComponent>
            </v-flex>
            <v-flex xs8>
                <RecommendComponent></RecommendComponent>
            </v-flex>
        </v-layout>
        <v-layout justify-center data-app>
            <v-dialog v-model="dialogMain" fullscreen hide-overlay transition="dialog-bottom-transition">
                <v-card>
                    <video id="myvideo" autoplay loop muted>
                        <source src="/images/somevideo.webm" type='video/webm; codecs="vp8, vorbis"'/>
                    </video>
                </v-card>
            </v-dialog>
        </v-layout>
    </v-container>
</template>

<script>
    import CartComponent from './CartComponent';
    import RecommendComponent from './RecommendComponent';

    export default {
        name: 'app',
        data() {
            return {
                dialogMain: false,
            }
        },
        components: {
            RecommendComponent,
            CartComponent,
        },
        methods: {
            onTotalCount(data) {
                if (data.count === 0) {
                    this.dialogMain = true;
                } else {
                    this.dialogMain = false;
                }
            },
        }
    }


</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        width: 100%;
        height: 100%;
    }

    .theme--dark.v-card {
        background-color: #FFFFFF;
        color: #424242;
    }

    .theme--dark.v-btn {
        color: #424242;
    }

    video::-webkit-media-controls {
        display: none;
    }

    video {
        width: 1366px;
        height: 768px;
    }

    .v-dialog--fullscreen {
        width: 1366px !important;
        height: 768px !important;
        overflow: hidden;
    }

    .v-dialog--fullscreen > .v-card {
        overflow: hidden;
    }
</style>
