<template>
    <div id="cart" class="content-main">
        <div class="content-box" v-if="(items) && items.length > 0">
            <h3>Ваш заказ:</h3>
            <div class="cart-items-list custom-scroll">
                <cart-item v-for="(item, index) in items" :item="item" :key="item.id"/>
            </div>
            <h2 id="cartTotal">
                Итого к оплате:<br>
                {{total}}
            </h2>
        </div>
        <div class="content-box" v-else>
            <h3>Корзина пуста</h3>
        </div>
    </div>
</template>

<script>
    import CartItem from "./CartItem"

    const items = [];
    export default {
        name: "CartComponent",
        components: {CartItem},
        data: function () {
            return {
                items: this.cartItem,
            }
        },
        created() {
            this.$store.dispatch("getCartItem", {self: this, route: this.$route});
            setInterval(function () {
                this.$store.dispatch("getCartItem", {self: this, route: this.$route});
                this.totalCount();
            }.bind(this), 1500);
        },
        methods: {
            filterCartItem() {
                this.items = this.$store.state.cartItem;
            },
            totalCount () {
                this.$emit('totalCount', {
                    count: this.items ? this.items.length : 0
                })
            }
        },
        computed: {
            total: function () {
                let sum = 0;
                let allItems = this.items;
                for (let item in allItems) {
                    sum += allItems[item]['price'] * allItems[item]['quantity'];
                }
                return sum + " " + '\u20bd';
            }
            ,
        }
        ,
    }
</script>

<style scoped>
    .content-main {
        position: relative;
    }

    .content-main .content-box {
        height: auto;
        max-height: 700px;
        overflow: hidden;
        padding: 10px;
        background: #fff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
        position: relative;
    }

    .content-main:before {
        position: absolute;
        content: '';
        top: -8px;
        left: 0;
        height: 8px;
        width: 100%;
        transform: rotate(180deg);
        background-size: 12px 12px;
        background-position: -5px -3px;
        background-image: radial-gradient(circle at 50% 0%, white 50%, transparent 55%);
    }

    .content-main:after {
        position: absolute;
        content: '';
        bottom: -8px;
        height: 8px;
        left: 0;
        width: 100%;
        background-size: 12px 12px;
        background-position: -5px -3px;
        background-image: radial-gradient(circle at 50% 0%, white 50%, transparent 55%);
    }

    .content-box h3 {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .content-box > h3:last-child {
        margin-bottom: 5px;
    }

    #cartTotal {
        max-height: 600px;
        overflow-y: auto;
    }

    .cart-items-list {
        height: 100%;
        max-height: 420px;
        overflow: auto;
    }
</style>
