<template>
    <div class="cart-item" v-bind:key="item.id">
        <div class="cart-item-body">
            <div class="cart-item-data">
                <div @click="dialogCart = true">
                    <span v-html="item.name"></span>
                </div>
                <div class="cart-quantity">
                    <v-btn class="ma-2 btn-quantity" small @click="removeQuantity()">-</v-btn>
                    <span v-html="parseFloat(item.quantity).toString()"></span>
                    <v-btn class="ma-2 btn-quantity" :disabled="item.quantity >= item.limit_stock" small
                           @click="addQuantity()">+
                    </v-btn>
                </div>
                <div>
                    <strong v-html="(item.price * item.quantity)+ ' \u20bd'"> </strong>
                </div>
            </div>
            <div>
                <hr>
            </div>
        </div>
        <v-dialog
                v-model="dialogCart"
                width="600"
                dark
                :show="dialogCart"
        >
            <v-card>
                <progressive-img class="cart-dialog-img" v-bind:src="item.image"/>
                <v-card-actions>
                    <v-btn
                            color="primary"
                            text
                            @click="dialogCart = false"
                    >
                        Закрыть
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    const itemz = null;

    export default {
        name: "CartItem",
        props: ['item'],
        data() {
            return {
                dialogCart: false,
                itemz: this.item
            }
        },
        methods: {
            addQuantity() {
                this.itemz['quantity'] = 1;
                this.itemz['from_recommend'] = 1;
                this.$store.dispatch("updateCartItem", {post: this.itemz, id: this.itemz['id']});
            },
            removeQuantity() {
                this.itemz['quantity'] = -1;
                this.itemz['from_recommend'] = 1;
                this.$store.dispatch("updateCartItem", {post: this.itemz, id: this.itemz['id']});
            },
        },
    }
</script>

<style scoped>
    .cart-item {
        display: flex;
    }

    .cart-dialog-img {
        width: 100%;
        height: 600px;
        object-fit: contain;
        object-position: center center;
    }

    .cart-item-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        font-size: 1em;
    }

    .cart-item-data {
        flex: 0 1 100%;
        flex-direction: row;
        display: flex;
        justify-content: space-evenly;
    }

    .cart-item-data > div:first-child {
        width: 100%;
        text-align: left;
    }

    .cart-item-data > div:last-child {
        width: 40%;
        text-align: right;
    }

    .cart-item-data strong {
        font-weight: 600;
    }

    .btn-quantity {
        min-width: 18px !important;
        padding: 3px !important;
        color: rgba(255, 0, 0, 0.87);
        margin: 0 5px !important;
        height: 28px !important;
    }

    .cart-quantity {
        display: flex;
        justify-content: space-evenly;
    }
</style>
