<template>
    <div id="recommend" class="custom-scroll">
        <v-container grid-list-md>
            <v-layout wrap class="recommend-list">
                <recommend-item v-for="item in items" :item="item" :key="item.id"/>
            </v-layout>
        </v-container>
    </div>
</template>
<script>
    import RecommendItem from "./RecommendItem";

    const items = [];
    export default {
        name: "RecommendComponent",
        components: {RecommendItem},
        data: function () {
            return {
                items: this.recommended,
            }
        },
        created() {
            this.$store.dispatch("getRecommendedItem", {self: this, route: this.$route});
            setInterval(function () {
                this.$store.dispatch("getRecommendedItem", {self: this, route: this.$route});
            }.bind(this), 5000);
        },
        methods: {
            filterRecommended() {
                this.items = this.$store.state.recommended;
            },
        },
    }

</script>

<style scoped>
    #recommend{
        height: 100%;
        max-height: 740px;
        overflow-x: hidden;
    }
    #recommend > .container{
        padding: 0 0;
        max-width: 835px !important;
    }
</style>
