<template>
        <v-flex xs6>
            <div class="recommend" v-bind:key="item.id">
                <div class="recommend-body">
                    <img class="recommend-img"  width="120" height="120" v-bind:src="item.image" @click="dialog = true"/>
                    <div class="recommend-text">
                        <p class="recommend-name" v-html="item.name"></p>
                        <div>
                            <strong v-html="item.price + ' \u20bd'"></strong>
                            <button class="btn-to-card" @click="addToCart(item)">в заказ</button>
                        </div>
                    </div>
                </div>
            </div>
            <v-dialog
                    v-model="dialog"
                    width="600"
                    dark
                    :show="dialog"
            >
                <v-card>
                    <progressive-img class="recommend-dialog-img" v-bind:src="item.image"/>
                    <v-card-actions>
                        <v-btn
                                color="primary"
                                text
                                @click="dialog = false"
                        >
                            Закрыть
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-flex>
</template>

<script>
    export default {
        name: "RecommendItem",
        props: ['item'],
        methods: {
            addToCart(item) {
                this.$store.dispatch("addRecommendedToCart", {post: item, route: this.$route});
            },
            openImage(item) {
                this.$store.dispatch("addRecommendedToCart", {post: item, route: this.$route});
            },
        },
        data () {
            return {
                dialog: false,
            }
        },
    }
</script>

<style scoped>
    .recommend-img {
        width: 120px;
        height: 120px;
        object-fit: contain;
        object-position: center center;
        margin-right: 10px;
    }
    .recommend-dialog-img{
        width: 100%;
        height: 600px;
        object-fit: contain;
        object-position: center center;
    }
    .recommend {
        width: 100%;
        height: 140px;
        overflow: hidden;
        padding: 5px;
        background: #fff;
        border-radius: 12px;
        max-width: 548.8px;
        border: 1px solid #d9d9d9;
    }

    .recommend-body {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex: 1 1 100%;
    }

    .recommend-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .recommend-name {
        line-height: 1.16666667em;
        height: 3.5em;
        overflow: hidden;
        font-size: 1.1em;
    }

    .recommend-text > p {
        text-align: left;
    }

    .recommend-text > div {
        text-align: right;
        align-items: center;
    }

    .btn-to-card {
        -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
        background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
        background-color: #ffffff;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #dcdcdc;
        display: inline-block;
        cursor: pointer;
        color: #fa0a0a;
        font-size: 15px;
        font-weight: bold;
        padding: 5px 10px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffffff;
        margin-left: 10px;
        text-transform: uppercase;
    }

    .btn-to-card:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
        background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
        background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
        background-color: #f6f6f6;
    }

    .btn-to-card:active {
        position: relative;
        top: 1px;
    }

    .recommend-dialog-img{
        height: 470px;
        width: 470px;
    }
</style>
